.account-header{
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 15px;
        width: 100%;
        border-bottom: 1px solid #00000030;
        li{
            margin: 0;
            padding: 0;
            a{
                padding: 2px 12.5px;
                margin: 0;
                font-family: Inter;
                font-weight: 500;
                font-style: Medium;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #000000;
                &.active {
                    background-color: #006CA4;
                    color: #FFFFFF;
                }
            }
        }
    }    
}