.account-detail-container {
  .blue-notice {
    color: #006ca4;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 500;
    font-style: Italic;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .update-text {
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

  }

  .tables-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .registration-table {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 3px; // Ваш стиль ліній
    background-color: #fff;

    .table-row {
      display: flex;
      min-height: 34px;

      .label-cell {
        flex: 0 0 38%;
        background-color: #F0F0F0;
        padding: 5px 12px;
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        border-right: 2px solid #fff; // Білий розділювач
      }

      .input-cell {
        flex: 1;
        background-color: #F0F0F0;
        padding: 3px 8px;
        display: flex;
        align-items: center;

        input, .table-select {
          width: 100%;
          height: 26px;
          border: 1px solid #006ca4;
          border-radius: 3px;
          background: #fff;
        }
      }
    }
  }

  .action-right {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
  }

  .password-section {
    margin-top: 30px;
    h3 { margin-bottom: 10px; }

    .password-flex-row {
      display: flex;
      gap: 30px;

      .pass-table { width: 500px; }

      .pass-forgot-block {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        padding-bottom: 5px;
        gap: 15px;
        p {
          font-weight: 500;
          font-style: Italic;
          font-size: 16px;
          line-height: 100%;
        }
        
      }
    }
  }

  .action-center {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  .invoice-email-block {
    margin-top: 40px;
    p { font-size: 15px; margin-bottom: 10px; }
    
    .invoice-input-row {
      display: flex;
      gap: 20px;
      align-items: center;
      
      .blue-outline-input {
        flex: 0 0 600px;
        height: 34px;
        border: 1px solid #006ca4;
        border-radius: 4px;
        background-color: #ffffff;
      }
    }
  }

  button {
    background: #006ca4;
    height: 25px;
    font-size: 13px;
    padding: 0;
    width: 136px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #7D7D7D;
    color: #ffffff;
  }
}