.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
    .modal {
        width: 100%;
        max-width: 1100px;
        background: #ffff;
        border-radius: 14px;
        padding: 36px;
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.30);
    }

    .back-btn {
        background: #d9d9d9;
        border: 1px solid #777;
        padding: 10px 16px;
        border-radius: 6px;
        color: #005f9e;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .modal-header {
        text-align: center;
    }

    .modal-header h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .modal-header p {
        font-size: 16px;
    }

    .divider {
        width: 70%;
        height: 1px;
        background: #333;
        margin: 20px auto 30px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        position: relative;
    }

    .grid::after {
        content: "";
        position: absolute;
        left: 50%;
        width: 1px;
        height: 100%;
        background: #333;
    }

    .radio {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .radio input {
        display: none;
    }

    .circle {
        width: 22px;
        height: 22px;
        border: 2px solid #2a7be4;
        border-radius: 50%;
        position: relative;
    }

    .radio input:checked + .circle::after {
        content: "";
        width: 10px;
        height: 10px;
        background: #2a7be4;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title {
        font-size: 20px;
        font-weight: 600;
    }

    .text-block {
        max-width: 520px;
        margin: 0 auto;
    }

    .text-block p {
        margin-bottom: 18px;
        line-height: 1.6;
    }

    .text-block a {
        color: #1a35e8;
    }

    .place-btn {
        width: 305px;
        height: 35px;
        font-size: 16px;
        border-radius: 10px;
        margin: 30px auto 0;
        display: block;
        border: 1px solid #888;
    }

    .place-btn.active {
        background: #0b78ad;
        color: #fff;
        cursor: pointer;
    }

    .place-btn.disabled {
        background: #b3b3b3;
        color: #eee;
        cursor: not-allowed;
    }
    .column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        width: 100%;
        align-items: center;
    }
}