.forgot-pass-container {
  .title {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    font-family: Barlow;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    color: #0374e3;
    cursor: pointer;
  }
}
