.update-icons-cont {
  padding: 30px;
  background: #f9f9f9;
  min-height: 100vh;

  .admin-header {
    margin-bottom: 30px;
    .top-bar {
      display: flex;
      gap: 15px;
      margin-top: 20px;
      background: #fff;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    }
  }

  .save-all {
    background: #27ae60;
    color: white;
    border: none;
    margin-left: auto;
    font-weight: bold;
    &:hover {
      background: #2ecc71;
    }
  }

  .category-block {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

    .cat-head {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      margin-bottom: 20px;

      h2 span {
        font-size: 14px;
        color: #999;
      }
    }
  }

  .upload-btn {
    background: #3498db;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    &:hover {
      background: #2980b9;
    }
  }

  .icons-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 15px;

    .icon-card {
      background: #fcfcfc;
      border: 1px solid #eee;
      padding: 10px;
      border-radius: 8px;
      position: relative;
      text-align: center;

      .preview {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-width: 50px;
          max-height: 50px;
        }
      }

      p {
        font-size: 10px;
        margin-top: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #666;
      }

      .btn-del {
        position: absolute;
        top: -5px;
        right: -5px;
        background: #e74c3c;
        color: #fff;
        border: none;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 16px;
        line-height: 1;
      }
    }
  }
  input,
  button {
    background-color: transparent;
  }
}
.cat-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;

  .cat-actions {
    display: flex;
    gap: 10px; // проміжок між кнопкою завантаження та видалення
    align-items: center;
  }

  .delete-cat-btn {
    background-color: transparent;
    border: 1px solid #ff4d4f;
    color: #ff4d4f;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    transition: all 0.3s;

    &:hover {
      background-color: #ff4d4f;
      color: #fff;
    }
  }
}
