.text-input-container {
  input {
    border: 1px solid #006ca4;
    border-radius: 4px;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    padding-left: 10px;
  }
}
