.pass-input-container {
  position: relative;
  width: 100%;
  input {
    border: 1px solid #006ca4;
    border-radius: 4px;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    padding-left: 10px;
    background-color: #FFFFFF;
  }
  .svg-cont {
    position: absolute;
    right: 0;
    top: 1px;
    height: 24px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #c3cfd6;
    z-index: 2;
    cursor: pointer;
  }
}
