.enter-container{
    h1{
        font-weight: 500;
        font-style: Medium;
        font-size: 24px;
        line-height: Sheet/iPad Radius;
        letter-spacing: 0%;
        color: #000000;
        margin-top: 34px;
    }
    p {
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: Sheet/iPad Radius;
        letter-spacing: 0%;
        margin-top: 12.5px;
        color: #000000;
    }
    margin-bottom: 40px;
}