.register-consumer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
  label {
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #14213d;
    display: flex;
    flex-direction: column;
    select {
      height: 40px;
      width: 100%;
      background-color: transparent;
      padding-left: 10px;
      box-sizing: border-box;
    }
    select::-webkit-scrollbar {
      width: 8px;
    }

    select::-webkit-scrollbar-track {
      background: #eee;
    }

    select::-webkit-scrollbar-thumb {
      background: #006ca4;
      border-radius: 4px;
    }

    select::-webkit-scrollbar-thumb:hover {
      background: #004f78;
    }
    &.row {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      input[type='checkbox'] {
        margin: 0;
        appearance: none;
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        border: 2px solid #006ca4;
        border-radius: 4px;
        cursor: pointer;
        background: transparent;
        transition: 0.2s ease;
        display: inline-block;
        position: relative;
      }

      /* Коли вибраний */
      input[type='checkbox']:checked {
        background-color: #006ca4;
        border-color: #006ca4;
      }

      /* Галочка */
      input[type='checkbox']:checked::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 4px;
        width: 4px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
    span {
      font-family: Barlow;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #006ca4;
    }
  }
  .info {
    font-family: Barlow;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #313e52;

    a {
      font-family: Barlow;
      font-weight: 400;
      font-style: Regular;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #0374e3;
    }
  }
  button {
    background-color: #0374e3;
    border-radius: 4px;
    border: 1px solid #000000;
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    border: none;
  }
}
