.cookie_overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #117EDE;
}

.cookie_container {
    max-width: 1210px;
    margin: 0 auto;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 20px 0;
}

.cookie_content {
    flex: 1;
}

.cookie_title {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

}

.cookie_text {
    font-weight: 400;
    font-style: Bold;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0%;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #fff;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}
.cookie_text_strong{
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0%;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #fff;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}
.cookie_text_gray{
    font-weight: 400;
    font-style: Bold;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: 0%;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #CBCBCB;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cookie_link {
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: underline;
    font-weight: 700;
}

.cookie_link:hover {
    text-decoration: underline;
}

.cookie_buttons {
    display: flex;
    gap: 12px;
    flex-shrink: 0;
}

.cookie_button_accept,
.cookie_button_decline {
    padding: 16px 70px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
}

.cookie_button_decline {
    background: transparent;
    color: #ffffff;
    border: 1px solid #FFFFFF
}

/* .cookie_button_accept:hover {
    background: #1d4ed8;
} */

.cookie_button_accept {
    background: #f3f4f6;
    color: #000000;

}

.cookie_button_decline:hover {
    background: #e5e7eb;
    color: #000000;
}

@media (max-width: 768px) {
    .cookie_container {
        flex-direction: column;
        padding: 20px;
    }

    .cookie_buttons {
        width: 100%;
    }

    .cookie_button_accept,
    .cookie_button_decline {
        flex: 1;
    }
}