.update-avaible-container{
    .button{
        display: flex;
        align-items: flex-end;
        justify-content: right;
        button{
            background-color: #FD7714;
            font-family: Inter;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #FFFFFF;
            width: 108px;
            height: 21px;
            font-family: Inter;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;

        }
    }   
    .list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
        .row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .title{
            display: flex;
            flex-direction: row;
            gap: 10px;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 22px;
                height: 22px;
                border: 2px solid #FF9D00;
                border-radius: 100%;
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-right: 10%;
            margin-left: 10%;
            li{
                display: flex;
                flex-direction: row;
                gap: 7.5px;
                align-items: center;
                input{
                    margin: 0;
                }
            }
        }
    }

    .list-list-colors{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .list-colors{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 7.5px;
            div{
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #0000004A;
                cursor: pointer;
            }
        }
    }
    .row{
        display: flex;
        flex-direction: row;
        gap: 30px;
        .first{
            margin-top: 30px;
            .title{
                font-family: Inter;
                font-weight: 700;
                font-style: Bold;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                text-decoration: underline;
                text-decoration-style: solid;
                text-decoration-thickness: 0%;
                text-decoration-skip-ink: auto;
                color: #006CA4;
            }
            .list-elem {
                
                .elem {
                    list-style-type:armenian;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    input[type='number']{
                        background-color: transparent;
                        border: 1px solid #7D7D7D;
                        width: 59px;
                        height: 25px;
                        border-radius: 8px;
                        border-width: 1px;

                    }
                }
            }
        }
    }
}