.order-container {
  border: 1px solid #7d7d7d;
  padding: 10px;
  box-sizing: border-box;
  max-width: 500px;
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
      min-width: 200px;
      max-width: 200px;
      margin: 0;
    }
    span {
      width: 100%;
    }
    div {
      display: flex;
      min-width: 100px;
      white-space: nowrap;
      align-items: flex-end;
      justify-content: right;
      &.box {
        background-color: #f2f0f0;
        padding: 7.5px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        div {
          justify-content: left;
          align-items: flex-start;
        }
      }
    }
    &.box {
      justify-content: left;
    }
  }
  .delivery {
    margin: 5px 0;
    button {
      background-color: #0095e2;
      width: 120px;
      height: 25px;
      border-radius: 3px;
      box-sizing: border-box;
      color: #ffffff;
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
    button {
      background-color: #006ca4;
      color: #ffffff;
      padding: 0 10px;
      margin: 0;
      &.active {
        background-color: chocolate;
        color: #ffffff;
      }
    }
  }
  .urls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    .url-cont {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      .url {
        width: 340px;
      }
      .img {
        width: 35px;
        height: 35px;
        font-family: Inter;
        font-weight: 600;
        font-style: Medium;
        font-size: 24px;
        line-height: 121%;
        letter-spacing: 4%;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #0000004a;
        border-radius: 4px;
      }
    }
  }
  .title {
    margin-top: 20px;
    background-color: #d5d5d5;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-weight: 700;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
  }
  .list-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    .inf {
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        font-family: Inter;
        font-weight: 600;
        font-style: Medium;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
        min-width: 120px;
        max-width: 120px;
      }
      select {
        display: flex;
        background-color: transparent;
        height: 26px;
      }
    }
  }
  .info-ful {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      width: 150px;
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      color: #000000;
    }
    input[type='number'] {
      width: 38px;
      height: 17px;
      border: 1px solid #7d7d7d;
      border-radius: 3px;
      background-color: transparent;
      margin-right: 20px;
    }
    input[type='checkbox'] {
      width: 20px;
      height: 20px;
      background-color: #006ca4;
      margin: 0;
      margin-right: 20px;
    }
    span {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      color: #000000;
    }
    select {
      padding-right: 20px;
      background-color: transparent;
      border-radius: 5px;
    }
  }
  .but {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      background-color: #006ca4;
      padding: 1px 10px;
      color: #ffffff;
      border-radius: 0;
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      margin-top: 25px;
      height: 21px;
    }
  }
  .but-message {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-top: 30px;
    button {
      padding: 3px 10px;
      background-color: #0095e2;
      color: #ffffff;
      height: unset;
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      height: 20px;
    }
    padding-bottom: 10px;
  }
}
