.login-form-container {
  max-width: 600px;
  padding: 25px;
  border: 1px solid #777; // Сіра тонка рамка навколо всієї форми
  border-radius: 8px;
  background-color: #fff;

  .login-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;

    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #000;
      margin: 0;
    }
  }

  .login-table {
    border: 1px solid #7D7D7D;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 3px;

    .table-row {
      display: flex;
      gap: 2px;
      
      &:last-child {
        border-bottom: none;
      }
    }

    .table-label {
      background-color: #f1f1f1; // Сірий фон як на фото
      padding: 12px 15px;
      display: flex;
      align-items: center;
      width: 55%;

      label {
        color: #333;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 100%;
        white-space: nowrap;

      }
    }

    .table-input {
      flex: 1;
      padding: 8px 10px;
      background-color: #F0F0F0;
      display: flex;
      align-items: center;
      .pass-input-container{
        width: 100%;
      }
      .text-input-container{
        width: 100%;
      }

      input {
        width: 100%;
        border: 1px solid #006CA4;
        border-radius: 4px;
        padding: 0px 8px;
        outline: none;
        background-color: #ffffff;
        height: 25px;
      } 
    }
  }

  .forgot-password-link {
    text-align: right;
    margin: 8px 0 20px 0;

    div {
      color: #006ca4;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .sign-in-btn {
    width: 100%;
    background-color: #006ca4; // Темно-синій колір кнопки
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px; // Заокруглена кнопка
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: #005a8a;
    }
  }
  .toReg{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}