.toolbar {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.section {
  flex: 0 0 auto;
  min-width: 150px;
  display: flex;
  align-items:flex-start;
  gap: 10px;
}

.numbering p{
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid rgba(255, 157, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


.section h3 {
  font-size: 14px;
  margin: 0px;
  font-weight: bold;
}

.icons,
.colors,
.holes {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  color: #000;
  justify-content: flex-end;
  width: fit-content;
}

.icons span,
.holes span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: all ease 0.3s;
}

.icons svg:hover > *{
  stroke: rgba(0, 108, 164, 1) !important;
}

.colors svg {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.holes span {
  font-size: 12px;
}

input[type="range"] {
  width: 100%;
  margin: 5px 0;
}

input[type="checkbox"] {
  margin-left: 5px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
}

.field {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
}

.label {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.inputGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputGroup input {
  width: 100px;
  padding: 6px 10px;
  font-size: 14px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;

  /* Вимикаємо нативні стрілки у number */
  -moz-appearance: textfield;
}
.inputGroup input::-webkit-inner-spin-button,
.inputGroup input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.arrows {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.arrows i {
  font-size: 14px;
  color: #444;
  transition: color 0.2s;
}
.arrows i:hover {
  color: #000;
}

.unitLabel {
  align-self: end;
  justify-self: end;
  font-size: 13px;
  color: #666;
  font-style: italic;
}

input[type="number"] {
  width: 50px;
  background-color: rgba(0, 108, 164, 1);
  color: white;
  border-radius: 0;
  font-size: 14px;
  text-align: center;
}
input[type="number"]:focus {
  outline: none; /* Прибирає стандартний контур */
  border: none; /* Переконуємось, що бордер відсутній */
}

.unitLabel{
  font-weight: 500;
  color: #000;
  font-style: italic;
}


.thicknessWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px 5px;
  justify-content: space-between;
  align-items: center;
}
.thicknessWrapper h3{
  margin-right: 10px;
}
.thicknessWrapper > div {
  display: flex;
  justify-content: center;
  gap: 5px;
}
/* Стилізація radio */
.thicknessWrapper input[type="radio"],
.thicknessWrapper input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.61);
  width: 20px;
  height: 20px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.thicknessWrapper input[type="radio"]:checked,
.thicknessWrapper input[type="checkbox"]:checked {
  background-color: rgba(0, 108, 164, 1);
  border: none;
}

.thicknessWrapper input[type="radio"]:checked::after,
.thicknessWrapper input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;
  width: 5px;
  font-weight: 900;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
