input[type="checkbox"][disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}
input[type="checkbox"] {
  margin: 0 !important
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  padding: 0;
  z-index: 2000;
}

.modalContent {
  top: -8%;
  left: -3.5%;
  pointer-events: auto;
  background: #bdffd1;
  border-radius: 8px;
  padding: 20px 20px;
  width: 405px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  border: 1px solid #e3e3e3;
  position: relative;
  margin-top: 0;
  margin-left: 0;
}

.title {
  margin: 0 0 20px !important;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: rgba(0, 108, 164, 1);
  text-decoration: underline;
}

.propertyGroup {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content min-content;
  gap: 10px 30px;
  justify-items: end;
  align-items: center;
}

.rowGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
}

.label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  justify-self: end;
  align-self: center;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
}

.propertyGroup>.label:nth-child(5) {
  color: rgba(0, 108, 164, 1);
}

.inputGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  justify-self: end;
  align-self: center;
}

.inputLabel {
  font-size: 15px;
  color: #555;
  margin-bottom: 0;
  text-align: right;
  white-space: nowrap;
  line-height: 1;
  padding: 0;
}

.input {
  width: 50px;
  padding: 6px;
  /* border: 1px solid #d1d5db; */
  border: none;
  /* border-radius: 4px; */
  text-align: right;
  font-size: 15px;
  line-height: 1;
  color: white;
  background-color: #006da3;
}

.arrows {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.arrows i {
  font-size: 13px;
  cursor: pointer;
  transition: color 0.2s;
}

.arrows i:hover {
  color: #006ca4;
}

.closeButton {
  margin-top: 24px;
  padding: 12px;
  width: 100%;
  background: #006ca4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.2s;
}

.closeButton:hover {
  background: #005080;
}

.cutFillWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.bottomRow {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  /* margin-top: 20px; */
  width: 100%;
  gap: 20px;
}

.bottomRowThickness {
  grid-column: 2;
  justify-self: center;
}

.bottomRowFrame {
  grid-column: 3;
  justify-self: end;
}

.cutFillWrapperRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.thicknessInline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.thicknessLabel {
  font-weight: 700;
  font-size: 14px;
  color: #1900FF;
}

.cutFillWrapperEl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.titleWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.frameEl {
  color: #1900ff;
  font-weight: 700;
  font-size: 14px;
}

.fillEl {
  color: rgba(0, 109, 45, 1);
  font-weight: 700;
  font-size: 14px;
}

.cutEl {
  color: rgba(253, 47, 20, 1);
  font-weight: 700;
  font-size: 14px;
}