.form-fogot-pass {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;

  max-height: 0;
  opacity: 0;

  &.show {
    max-height: 300px; // достатньо висока, щоб умістився контент
    opacity: 1;
  }

  &.close {
    max-height: 0;
    opacity: 0;
  }

  input {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    font-family: Barlow;
    font-size: 16px;
    color: #14213d;
    outline: none;
    border-radius: 4px;
    border: 1px solid #006ca4;
    margin-top: 12px;
  }

  button {
    margin-top: 12px;
    width: 100%;
    background-color: #0374e3;
    color: #ffffff;
  }
}
