.header {
  position: static;
  top: unset;
  left: unset;
  max-width: 1210px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  margin: 30px 0 8px;
}
.firstPart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.leftPart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.leftList {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(3, min-content);
  gap: 10px 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
}
.leftListEl {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 108, 164, 1);
  text-decoration: underline;
  font-weight: 700;
  font-size: 15px;
}
.rightPart {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  justify-content: space-between;
  align-items: flex-end;
}

.rightPart p {
  padding: 0;
  margin: 0;
}
.logOut {
  font-weight: 600;
  cursor: pointer;
}

.rightPartWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.lang {
  position: relative;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 21px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  position: absolute;
  top: 100%;
  z-index: 5;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 45px;
  padding: 7.5px 0;
  z-index: 99;
}

.countries {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 21px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000;
  /*padding-right: 10px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.rotate{
  transform: rotate(180deg);
  margin-bottom: 5px;
}

.open {
  display: none;
  z-index: 99;
}

.name {
  font-weight: 500;
  color: rgba(0, 108, 164, 1);
  text-align: end;
}
.secondPart {
  width: 100%;
  height: 30px;
}
.secondPartList {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 70px;
  margin: 0;
  background-color: rgba(213, 213, 213, 1);
  font-weight: 400;
  font-size: 16px;
}
.secondPartList li {
  padding: 0 45px;
  white-space: nowrap;
  font-size: 16px;
  width: 100%;
}

.secondPartList li a {
  white-space: nowrap;
  font-size: 16px;
  width: 100%;
}

.secondPartEl2 a {
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.secondPartEl2.current {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 108, 164, 1);
}

.secondPartEl2.current a {
  color: #fff;
}

.headerBaner {

}

.headerBanerImg {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 90px;
}
.company {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  margin-top: 5px;
}